# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\BAYU WIRA\Documents\!BAYU WIRA - TUGAS AKHIR\TUGAS_AKHIR-BAYUWIRA\Source Code\FIX\KendangApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
